.bg-danger-trans{
  background-color: rgba(252, 35, 68,.1) !important;
}

.bg-success-trans{
  background-color: rgba(53, 189, 73,.1) !important;
}

.notification-general {
  background-color: #eeed;
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: #222;
	padding: 0;
  width: 400px;
  max-width: 90% !important;
  display:inline;
}
.notification-general .close {
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0;
  padding: 0;
}

.notification-general .content {
  padding: 0;
}

.notification-general .notify-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.notification-general .left {
  background-color: rgba(7,7,7,.5);
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.notification-general .right .container {
  background-color: #d5d5d5;
  border-top-left-radius: 5px;
  width: 314px;
}

.notification-general .right .container span {
  width: 100%;
}

.notification-general .content .notify-icon > [data-notify="icon"] {
  font-size: 2em;
}

.notification-general .content .right .container > [data-notify="message"] {
  color: #333;
}

.notification-general .content .right > [data-notify="title"] {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
  font-size: 120%;
  display: block;
  font-family: 'Ubuntu', sans-serif;
}

.progress-bar-notification {
  width: 100%;
  height: 1px;
}
.progress-bar-notification .progress-bar{
  background-color: grey;
}


.alert-welcome {
	background-color: #ddd;
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 0;
  width: 400px;
  max-width: 90% !important;
  display:inline;
}
.alert-welcome .content > [data-notify="icon"] {
	height: 64px;
  margin-right: 10px;
  margin-left: 10px;
}
.alert-welcome .content .right > [data-notify="title"] {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
  display: block;
  font-family: 'Ubuntu', sans-serif;
}

.alert-welcome .right .container {
  background-color: #d5d5d5;
  border-top-left-radius: 5px;
}

.alert-welcome .content .right .container > [data-notify="message"] {
	font-size: 80%;
  color: #333;
}

.alert-welcome .close {
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0;
  padding: 0;
}

.alert-welcome .content {
  padding: 0;
  width: 100%;
}
