<div class="container mt-2">
    <div class="jumbotron style-texture3 text-center pt-3">
      <h1 class="text-unt">Survey Overview</h1>
      <hr />

      <div class="d-flex justify-content-around flex-wrap">

        <div class="container col-md-4 col-sm-11">
          <div class="card bg-light style-texture3" style="margin:.5em;">
            <div class="card-header">
              <h3 class="card-title">Total Surveys</h3>
            </div>
            <div class="card-body text-center">
              <h3 class="text-unt">{{surveys['overview']['totalS']}}</h3>
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-11">
          <div class="card bg-light style-texture3" style="margin:.5em;">
            <div class="card-header">
              <h3 class="card-title">Total Participants</h3>
            </div>
            <div class="card-body text-center">
              <h3 class="text-unt">{{surveys['overview']['totalP']}}</h3>
            </div>
          </div>
        </div>

        <div class="container col-md-4 col-sm-11">
          <div class="card bg-light style-texture3" style="margin:.5em;">
            <div class="card-header">
              <h3 >Average Participants</h3>
            </div>
            <div class="card-body text-center">
              <h3 class="text-unt">{{surveys['overview']['avgP']}}</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!--end container for overview of stats-->

  <!--Table-->
  <div class="d-flex justify-content-around flex-wrap">
      <div class="card bg-light style-texture3" style="margin:.5em; min-width: 45%;">
        <div class="card-header">
          <h3 class="card-title"><span>Active Surveys</span></h3>
        </div>
        <div class="card-body">
            <table id="open-table" class="table t-style1 market">
              <thead>
              <tr>
                <th scope="col">Share</th>
                <th scope="col">Analyze</th>
                <th scope="col">Name</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Responses</th>
              </tr>
              </thead>
              <tbody>
                {% for survey in surveys['active'] %}
                 <tr>
                    <td class="bigbutton" onclick="window.location.href = 'https://surveymaster.tech/s/{{survey['shareURL']}}'"><i class="fas fa-share-square hover-grow-sm"></i></td>
                    <td class="bigbutton" onclick="load_page('/result/{{survey['shareURL']}}')"><i class="fas fa-search-plus"></i></td>
                    <td>{{ survey['title'] }}</td>
                    <td>{{ survey['opened'] }}</td>
                    <td>{{ survey['closed']}}</td>
                    <td>{{  survey['rlen'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>

      <div class="card bg-light style-texture3" style="margin:.5em; min-width: 45%;">
        <div class="card-header">
          <h3 class="card-title"><span>Closed Surveys</span></h3>
        </div>
        <div class="card-body">
          <table id="close-table" class="table t-style1 market">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Open</th>
              <th scope="col">Close</th>
              <th scope="col">Responses</th>
            </tr>
            </thead>
            <tbody>
              {% for survey in surveys['closed'] %}
                <tr class="table-select-row" onclick="load_page('/result/{{survey['shareURL']}}')">
                  <td>{{ survey['title'] }}</td>
                  <td>{{ survey['opened'] }}</td>
                  <td>{{ survey['closed']}}</td>
                  <td>{{  survey['rlen'] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <script>
  $(document).ready(function() {
      var open_table = $('#open-table').DataTable({
        'order': [[2,'desc']]
      });
      var close_table = $('#close-table').DataTable({
        'order': [[2,'desc']]
      });
    });

  </script>
