<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-charming.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body class="style-texture1">
  <div class="d-flex justify-content-around flex-wrap mt-5">
    <div class="card bg-light style-texture3" style="margin: .75">
      <div class="card-header">
        <a class="text-info float-left" href="/" role="button"><i style="font-size: 200%" class="fas fa-arrow-alt-circle-left"></i></a>
        <h2 class="card-title text-center">SurveyTrack<span>.tech</span></h2>

      </div>
      <div class="card-body text-center">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i style="font-size: 200%;" class="fas fa-american-sign-language-interpreting"></i></span>
          </div>
          <input type="text" class="form-control" aria-label="Large" placeholder="Survey code..." aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
    </div>
  </div>
<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>
