<!--Table-->
<div class="d-flex justify-content-around">
    <div class="card bg-light style-texture3" style="margin:.5em; min-width: 45%;">
      <div class="card-header">
        <h3 class="card-title"><span>Account shit</span></h3>
      </div>
      <div class="card-body">
          <table id="open-table" class="table t-style1 market">
            <thead>
            <tr>
              <th scope="col">key</th>
              <th scope="col">value</th>
            </tr>
            </thead>
            <tbody>
              {% for key in user %}
                <tr>
                  <td>{{ key }}</td>
                  <td>{{ user[key] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
