<!DOCTYPE html>
<html>
<head>
  <!--
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-charming.min.css') }}">
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.css') }}">
</head>
<body class="style-texture1 text-white">

<div class="d-flex justify-content-around flex-wrap">
  <div class="card bg-light style-texture3 mb-3 mt-2" style="margin: .75">
    <div class="card-header">
      <h2 class="card-title text-center">don't light ur nutz on fire kids</h2>
    </div>
    <div style="display: inline-block" class="card-body">
      <div class="slidecontainer md-5">
        <input style="position: relative" type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <div id="demo" style="padding-top: 10px">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
      output.innerHTML = this.value;
    }
</script>
</body>
</html>
