<!--Table-->
<div class="d-flex justify-content-around">
    <div class="card bg-light style-texture3" style="margin:.5em; min-width: 45%;">
      <div class="card-header">
        <h3 class="card-title"><span>Account shit</span></h3>
        <br />
        <a class="btn btn-success" onclick="barchart([12, 32, 3, 5])">Nigga</a>
      </div>
      <div class="card-body">
        <canvas id="barGraph"</canvas>
      </div>
    </div>
</div>
<div class="d-flex justify-content-around flex-wrap">
  <div class="card bg-light style-texture3 mb-3 mt-2" style="margin: .75">
    <div class="card-header">
      <h2 class="card-title text-center">don't light ur nutz on fire kids</h2>
    </div>
    <div style="display: inline-block" class="card-body">
      <div class="slidecontainer md-5">
        <input style="position: relative" type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <div id="demo" style="padding-top: 10px">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value
  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
      output.innerHTML = this.value;
  }

  var questionData = [12, 32, 3, 5];

   function barchart(data){
      var ctx = document.getElementById("barGraph");

      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
              datasets: [{
                  label: '# of Votes',
                  data: questionData,
                  backgroundColor: getBackground(data.length),
                  borderColor: getBorder(data.length),
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
        })
    };

    function getBackground(num){
      var colors = [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
      ]
      var r = [];
      var i;
      for (i=0;i<num;i++) {
        r.push(colors[i]);
      }
      return r;
    }


    function getBorder(num){
        var colors = [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ]
        var r = [];
        var i;
        for (i=0;i<num;i++) {
          r.push(colors[i]);
        }
        return r;
      }

/*
    setTimeout(function(){
      myChart.data.datasets[0].data = [10, 25, 32, 11, 12, 6];
      myChart.update();
      setTimeout(function(){
        myChart.data.datasets[0].data = [15, 5, 13, 45, 14, 24];
        myChart.update();
        setTimeout(function(){
          myChart.data.datasets[0].data = [10, 35, 19, 39, 4, 44];
          myChart.update();
        }, 2000);
      }, 2000);
    }, 2000);*/
</script>
